<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ziraat Bankası</title>
    <link rel="stylesheet" type="text/css" href="https://www.ziraatbank.com.tr/error/tr/assets/css/error.css">
    <link rel="stylesheet" href="https://www.ziraatbank.com.tr/error/tr/assets/css/bootstrap.min.css">
</head>
<body class="sub-page">

    <header class="header">

        <nav class="top-navigation">
            <a href="/">English</a>
            <div class="internet-branch hidden-lg hidden-md">
                <a href="javascript:;">İnternet Şubesi</a>
                <div class="ib-link">
                    <a href="javascript:;" onclick="window.open('https://bireysel.ziraatbank.com.tr/Transactions/Login/FirstLogin.aspx?customertype=rtl', 'logoff', 'status=yes,scrollbars=yes,resizable=yes,width=979,height=720');">Bireysel</a>
                    <a href="javascript:;" onclick="window.open('https://kurumsal.ziraatbank.com.tr/Transactions/Login/FirstLogin.aspx?customertype=crp', 'logoff', 'status=yes,scrollbars=yes,resizable=yes,width=979,height=720');">Kurumsal</a>
                </div>
            </div>
        </nav>

        <div class="header-box">
            <div class="logo">
                <a href="../../tr.html">
                    <img src="https://www.ziraatbank.com.tr/error/tr/assets/images/logo.svg" alt="ziraat-bankasi" title="Ziraat Bankası">
                </a>
            </div>
            <!--logo end-->

            <div class="header-right">
                <div class="header-config">
                    <div class="internet-branch">
                        <a href="javascript:;">İnternet Şubesi</a>
                        <div class="ib-link">
                            <a href="javascript:;" onclick="window.open('https://bireysel.ziraatbank.com.tr/Transactions/Login/FirstLogin.aspx?customertype=rtl', 'logoff', 'status=yes,scrollbars=yes,resizable=yes,width=979,height=720');">Bireysel</a>
                            <a href="javascript:;" onclick="window.open('https://kurumsal.ziraatbank.com.tr/Transactions/Login/FirstLogin.aspx?customertype=crp', 'logoff', 'status=yes,scrollbars=yes,resizable=yes,width=979,height=720');">Kurumsal</a>
                        </div>
                    </div>
                </div>
                <!--header-right end-->
            </div>
            <!--header-right end-->
            <div class="clear"></div>
        </div>
        <!--header-box end-->

    </header>



    <div class="global-container zb-w">

        <div class="sub-page-container">
            <div class="row">
                <div class="sub-page-content col-xs-12">

                    <div class="error-box">
                        <div class="icon-404"></div>
                        <div class="error-content">
                            <h2>Aradığınız sayfaya ulaşılamıyor <span>(HTTP 404)</span></h2>
                            <h3>Aradığınız sayfa sitemizden kaldırılmış ya da adresi (URL) değiştirilmiş olabilir.</h3>
                            <ul>
                                <li>Bu sayfaya sitemiz üstündeki başka bir linke, butona ya da yönlendirmeye tıklayarak ulaştıysanız lütfen <a href="../../tr/bize-ulasin/iletisim-formu.html">bizi bilgilendirin.</a></li>
                                <li>Sayfaya doğrudan sayfa adresini yazarak ulaştıysanız adresi hatalı girip girmediğinizi kontrol edin.</li>
                                <li>Aradığınız içeriğe <a href="https://www.ziraatbank.com.tr/tr/arama">site içi arama</a> özelliğimizi kullanarak ulaşmayı denebilirsiniz.</li>
                            </ul>
                        </div>
                    </div>

                </div>



            </div>

        </div>
        <!--sub-page-content end-->
    </div>


    <footer class="section footer-container fp-auto-height v2" id="footer">
        <div class="footer-bottom">
            <div class="footer-contact">
                <i class="icon-musteri-iletisim-merkezi"></i>
            </div>
            <span>© 2018 - T.C. Ziraat Bankası A.Ş.</span>
        </div>
    </footer>

</body>
</html>
