.welcome-caption {
  padding-right: 10px;
  padding-top: 20px;
  border-bottom: solid 1px $color-brand-gray-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dashboard-container {
  height: 100%
}
.float-header-with-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
